VIEWS_DIR=c:/wamp64/www/portalrh/FrontEnd/View
PROXY=192.168.66.111
APP_DEPLOY_SECRET=5464845sdfsdfsd
BASE_DIR=c:/wamp64/www/portalrh
DB_NAME=sistemas
DB_USERNAME=sisadmin
DB_PASSWORD=s1sadm1n
DB_HOST=192.168.133.12
STORAGE_PATH=C:\wamp64\www\storage
WEB_ROOT_PATH=C:\wamp64\www